<div>
  <div>
    <img src="../../../assets/leaf.png" alt="Plantopia Logo" class="w-full" />
  </div>
  <div class="flex flex-col justify-center items-center gap-8 p-5 leading-6">
    <h1 class="text-5xl font-bold text-[#007537]">Plantopia</h1>
    <span class="text-center">
      Your Premier Destination for Lush Greenery: Elevate your space with our
      exceptional plant selection.
    </span>
  </div>
  <div class="flex flex-col justify-center items-center gap-4 w-full">
    <input type="text" placeholder="Email" class="bg-white border-b-2 p-2" />
    <p-button label="Register" severity="secondary" size="large"></p-button>
    <span class="text-sm text-gray-500 border-b-2">Not now</span>
  </div>
</div>
